<section
  class='landing-section bg-black w-screen h-screen text-center relative overflow-hidden'
  data-header-color='black'
>
  <div class='relative z-30 h-full flex flex-col'>
    <header class='flex flex-col'>
      <h2 class='px-6 text-black pt-24 text-5xl font-medium'>Model 3</h2>
      <p class='text-black text-sm tracking-wider px-6 pt-2 pb-3 underline'>
        Lease from $429/mo
      </p>
    </header>

    <footer class='flex flex-col flex-grow justify-end pb-20'>
      <div class='space-x-5'>
        <a
          title='order now'
          class='capitalize rounded mx-auto px-[90px] py-[8px] inline-block font-medium text-white bg-zinc-800 hover:bg-zinc-800/80 transition-colors duration-300'
          href='/'>Order Now</a
        >
        <a
          title='demo drive'
          class='capitalize rounded mx-auto px-[90px] py-[8px] inline-block font-medium bg-gray-100 text-gray-600 hover:bg-gray-200 transition-colors duration-300'
          href='/'>Demo Drive</a
        >
      </div>
    </footer>
  </div>

  <div class='absolute top-0 bottom-0 w-full'>
    <picture>
      <img
        class='h-full w-full object-cover object-center'
        src='./model-3.webp'
        alt=''
      />
    </picture>
  </div>
</section>
