<section
  class='landing-section bg-black w-screen h-screen text-center relative overflow-hidden'
  data-header-color="'black"
>
  <div class='relative z-30 h-full flex flex-col'>
    <header class='flex flex-col'>
      <h2 class='px-6 text-white pt-24 text-5xl font-medium'>Solar Panels</h2>
      <p class='text-white text-sm tracking-wider px-6 pt-2 pb-3'>
        Lowest Cost Solar Panels in America
      </p>
    </header>

    <footer class='flex flex-col flex-grow justify-end pb-20'>
      <div class=''>
        <a
          title='demo drive'
          class='border-[3px] border-white backdrop-blur-md capitalize rounded mx-auto px-[90px] py-[5px] inline-block font-medium text-white hover:bg-white hover:text-black transition-colors duration-300'
          href='/'>Demo Drive</a
        >
      </div>
    </footer>
  </div>

  <div class='absolute top-0 bottom-0 w-full'>
    <figure>
      <img src='./solar-panels.webp' alt='' />
    </figure>
  </div>
</section>
